div.main {
    position: relative;
    z-index: 1;
    background-color: var(--Light-grayish-orange);
}

/*========== background 線條 動畫區域 ========== */
div.main-backgroung {
    position: relative;
}

svg.-a {
    /* transform: rotate(3.194deg); */
    display: block;
    z-index: -200;
    position: absolute;
    top: 600px
}

svg.-a path {
    animation: digital_a 50s linear infinite;
}


@keyframes digital_a {
    from {
        d: path("M1482 2.00002C975.341 236.249 1263.88 440.423 970.084 604.801C676.288 769.18 528.821 471.203 180.115 654.084C-168.592 836.965 -269 1297 -269 1297");
        opacity: .8;
    }

    50% {
        d: path("M1482 0.999996C1095 443 927 221.5 696 394.5C465 567.5 453 523.5 148.5 669.5C-156 815.5 -126 1389.5 -126 1389.5");
        opacity: .8;
    }

    to {
        d: path("M1482 1.00001C1095 443 825 112 594 285C363 458 526 613.5 221.5 759.5C-82.9999 905.5 -126 1389.5 -126 1389.5");
        opacity: .8;
    }
}

svg.-b {
    /* transform: rotate(3.194deg); */
    display: block;
    z-index: -200;
    position: absolute;
    top: 2400px
}

svg.-b path {
    animation: digital_b 50s linear infinite;
}


@keyframes digital_b {
    from {
        d: path("M1437 0.999622C1122.51 468.259 964.089 69.1072 764.264 143.141C564.44 217.175 664.578 431.556 444.044 517.92C223.51 604.283 2 260 2 260");
        opacity: .8;
    }

    50% {
        d: path("M1436 0.999623C1121.51 468.259 999.825 174.966 800 249C600.176 323.034 627.034 243.637 406.5 330C185.966 416.363 1.0001 260 1.0001 260");
        opacity: .8;
    }

    to {
        d: path("M1437 1.99962C957 1.99962 1036.5 354.5 813.5 399.5C590.5 444.5 540.5 49 308 81.5C75.5 114 2.0001 261 2.0001 261");
        opacity: .8;
    }
}


/*========== common 區域 ========== */

div.first-section,
div.high-quality {
    max-width: 1400px;
    margin: 0 auto;
}

/*========== first-section 區域 ========== */
div.first-section {
    height: 100vh;
}

/*========== title-section 區域 ========== */

div.title-section {
    color: var(--Dark-orange);
    text-transform: uppercase;
    font-family: Limelight;
    padding-top: 200px;
    padding-left: 50px;
    margin: 0 auto;
}

div.title-section h2 {
    font-size: 3rem;
}

/*========== banner-section 區域 ========== */
div.banner-section {
    margin-top: 80px;
}

div.banner-section div.image {
    width: 1100px;
    height: 400px;
    border-radius: 0px 100px 0px 0px;
    overflow: hidden;
    position: relative;
}

div.banner-section div.image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.banner-section div.slogan {
    display: block;
    height: 20vh;
    color: var(--Dark-cyan);
    text-align: right;
    font-size: 4rem;
    line-height: 18vh;
    font-family: Limelight;

}

/*========== high-quality 區域 ========== */

div.high-quality {
    margin-top: 140px;
    position: relative;
    display: flex;
    flex-direction: column;
}

div.high-quality div.detail-info {
    width: 800px;
    color: var(--Dark-cyan);
    position: relative;
}

div.high-quality div.detail-info div.section-bg {
    position: absolute;
    z-index: -100;
    width: 550px;
    height: 560px;
    border-radius: 0px 100px 0px 0px;
    background: linear-gradient(180deg, #BECCCF 0%, rgba(217, 217, 217, 0.00) 90.19%);
}

div.high-quality div.detail-info div.title {
    padding-top: 120px;
    padding-left: 100px;
    font-weight: 700;
    line-height: 42px;
}

div.high-quality div.detail-info div.description {
    padding-left: 100px;
    line-height: 42px;
    font-size: 1.25rem;
    padding-top: 1rem;
}

div.high-quality div.high-quality-img-h {
    margin-left: 60px;
    margin-top: 96px;
}

div.high-quality div.high-quality-img-h img {
    width: 800px;
}

div.high-quality div.high-quality-img-v {
    position: absolute;
    top: 40px;
    right: 0;
}

div.high-quality div.high-quality-img-v img {
    width: 500px;
}

div.high-quality.-reverse {
    align-items: flex-end;
    padding-bottom: 200px;
}

div.high-quality.-reverse div.detail-info {
    order: 3;
    color: var(--Very-dark-orange);
}

div.high-quality.-reverse div.detail-info div.section-bg {
    position: absolute;
    z-index: -100;
    width: 800px;
    height: 450px;
    border-radius: 0px 0px 0px 100px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #F8DBC0 90.19%);
}

div.high-quality.-reverse div.high-quality-img-h {
    order: 2;
    margin-top: 0px;
    margin-right: 60px;
}

div.high-quality.-reverse div.high-quality-img-v {
    order: 1;
    top: 120px;
    left: 0;
}