/* ========== header 區域 ==========  */
header.header {
    position: sticky;
}

/* ========== common 區域 ==========  */
div.main {
    background-color: var(--Light-grayish-orange);
}

div.member-section {
    /* max-width: 1400px; */
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}

div.member-profile,
div.order-list {
    width: 60%;
    margin: 20px auto 80px auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:1199.98px) {

    div.member-profile,
    div.order-list {
        width: 70%;
    }
}

@media screen and (max-width:991.98px) {

    div.member-profile,
    div.order-list {
        width: 90%;
    }
}

@media screen and (max-width:767.98px) {

    div.member-profile,
    div.order-list {
        width: 100%;
    }
}

div.member-data,
div.order-data {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 42px;
    text-transform: capitalize;
}

@media screen and (max-width:767.98px) {

    div.member-data,
    div.order-data {
        font-size: 1.1rem;
        line-height: 24px;
    }
}

div.member-data div.title,
div.order-data div.title {
    color: var(--Dark-orange);
    text-align: left;
    border-right: 1px solid var(--Dark-orange);
    flex-basis: 160px;
    flex-shrink: 0;
}

@media screen and (max-width:991.98px) {

    div.member-data div.title,
    div.order-data div.title {
        flex-basis: 110px;
    }
}

@media screen and (max-width:575.98px) {
    div.order-data div.title {
        flex-basis: 100px;
    }
}

@media screen and (max-width:575.98px) {
    div.member-data div.title {
        flex-basis: 80px;
    }
}

div.member-data div.value,
div.order-data div.value {
    color: var(--Dark-cyan);
}


/* ==========section-title處理區域 ==========  */

div.section-title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: var(--Dark-orange);
    padding: 20px 0;
}


/* ========== member-data 處理區域 ==========  */

div.member-profile {
    gap: 20px;
}

div.member-data {
    gap: 52px;
}

@media screen and (max-width:575.98px) {
    div.member-data {
        gap: 36px;
    }
}


/* ========== order-list 處理區域 ==========  */


div.order-list div.order {
    display: flex;
    align-items: center;
    gap: 24px;
    border-bottom: 1px solid var(--Dark-orange);
    padding: 32px 0 20px 0;
}

@media screen and (max-width:767.98px) {

    div.order-list div.order {
        gap: 16px;
    }
}

@media screen and (max-width:575.98px) {

    div.order-list div.order {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 8px;
        padding: 20px 0;
    }
}

div.order-list div.order div.order-img object {
    width: 100px;
    height: 100px;
    /* background-image: url('../images/common/order.svg');
    background-repeat: no-repeat;
    background-size: contain; */
}

@media screen and (max-width:767.98px) {

    div.order-list div.order div.order-img object {
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }
}

div.order-list div.order div.order-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media screen and (max-width:991.98px) {
    div.order-list div.order div.order-info {
        gap: 8px;
    }
}

div.order-list div.order div.order-info div.order-data {
    gap: 20px;
}

@media screen and (max-width:575.98px) {
    div.order-list div.order div.order-info div.order-data {
        gap: 12px;
    }
}

@media screen and (max-width:575.98px) {
    div.order-list div.order p.see-more {
        grid-column: 1 / 3;
        width: 80%;
        margin: 0 auto;
    }
}

div.order-list div.order a {
    text-decoration: none;
    color: white;
    display: block;
    line-height: 42px;
    padding: 0 12px;
    border-radius: 100px;
    background-color: var(--Dark-orange);
    white-space: nowrap;
}

@media screen and (max-width:767.98px) {

    div.order-list div.order a {
        line-height: 32px;
        text-align: center;
    }
}