* {
    box-sizing: border-box;
    margin: 0;
}

/* ========== 顏色變數 ========== */
:root {
    --Dark-orange: #B3542C;
    --Grayish-orange: #D7C3AB;
    --Very-dark-orange: #452011;
    --Light-grayish-orange: #F0E8DF;
    --Dark-cyan: #59818A;
    --Light-grayish-cyan: #CAD9DC;
}

/* ========== 字體初始化 ========== */
body,
div {
    /* font-family: 'Catamaran', 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei'; */
    font-family: 'Catamaran', '-apple-system', 'Noto Sans TC', 'sans-serif';
    font-size: 16px;
}

h1 {
    font-size: 2.75rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 42px;
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 42px;
}

/* ========== main區域 最小高度 ==========  */

div.main {
    min-height: calc(100vh - 100px - 136px);
}

/* ========== btn 初始化 ==========  */

button {
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
}


/* ========== section-link 共用效果  ========== */

div.section-link {
    text-align: center;
    padding: 40px 0;
}

div.section-link a {
    display: block;
    margin: 0 auto;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--Dark-orange);
    /* border: 1px solid #666; */
    width: 150px;
    position: relative;
}

div.section-link.-lg a {
    width: 250px;
}

div.section-link.-Dark-cyan a {
    color: var(--Dark-cyan);
}

div.section-link a::before,
div.section-link a::after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--Dark-orange);
    transition: all 0.3s ease;
    transform: scale(0.85);
}

div.section-link.-Dark-cyan a::before,
div.section-link.-Dark-cyan a::after {
    background-color: var(--Dark-cyan);
}

div.section-link a:hover::before {
    top: 0;
    transform: scale(1);
}

div.section-link a:hover::after {
    transform: scale(1);
}