footer.footer {
    background-color: #B3542C;
    width: 100%;
    /* min-width: 1400px; */
}

footer.footer div.footer-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 25px 20px;
}

footer.footer div.footer-container div.footer-info {
    display: flex;
}

@media screen and (max-width:991.98px) {
    footer.footer div.footer-container div.footer-info {
        flex-direction: column;
        align-items: center;
    }
}


footer.footer div.footer-container div.footer-info a {
    margin-right: 20px;
}

footer.footer div.footer-container div.footer-info a img {
    height: 80px;
}

footer.footer div.footer-container div.footer-info div.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

@media screen and (max-width:991.98px) {
    footer.footer div.footer-container div.footer-info div.contact-info {
        text-align: center;
    }
}

footer.footer div.footer-container div.footer-info div.contact-info p {
    color: white;
    line-height: 32px;
}

/* scroll-top 區域 */

div.scroll-top {
    position: fixed;
    bottom: 100px;
    right: 10px;
    z-index: 990;
    display: none;
}

div.scroll-top button img {
    width: 30px;
    height: 30px;
}

/* footer-copyright 區域 */

footer.footer div.footer-container div.footer-copyright {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

footer.footer div.footer-container div.footer-copyright a {
    text-decoration: underline;
    margin-right: 20px;
}

footer.footer div.footer-container div.footer-copyright a,
footer.footer div.footer-container div.footer-copyright p.copyright {
    color: white;
    text-align: right;
    font-weight: 300;
}

@media screen and (max-width:991.98px) {
    footer.footer div.footer-container div.footer-copyright {
        flex-direction: column;
        align-items: center;
    }

    footer.footer div.footer-container div.footer-copyright a {
        order: 2;
        line-height: 24px;
    }

    footer.footer div.footer-container div.footer-copyright p.copyright {
        order: 1;
        text-align: center;
        line-height: 24px;
    }
}